html {
    font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
    background-color: #010165;
    margin: 0 auto;
}

.header {
    background-color: #0ff;
    text-align: center;
    margin: 0 auto;
}

.title-row {
    margin: 1rem auto;
    text-align: center;
}

.instructions-title {
    display: inline;
    font-size: 1rem;
    color: #0ff;
    font-family: 'Work Sans';
}

.table {
    text-align: center;
}

tr {
    text-align: center;
    
}

table {
    margin: 0 auto;
/*     width: 85%; */
    text-align: center;
}

.instructions-number {
    padding-right: 0.3rem;
    font-family: 'Work Sans';
    font-size: 2rem;
    color: #0ff;
    text-align: right;
}

.instructions-text {
    padding: 0.6rem;
    font-family: "Work Sans";
    font-size: 0.9rem;
    color: #fff;
}

.door-row {
    display: flex;
    justify-content: center;
    margin: 1% auto;
}

.door-frame {
    cursor: pointer;
    padding: 0.2rem;
    margin: 0 2%;
    width: 9rem;
    height: 20rem;
}

.start-row {
    margin: auto;
    width: fit-content;
    padding: 1rem 2%;
    font-family: 'Work Sans';
    background-color: #eb6536;
    font-size: 1rem;
    text-align: center;
    color: #010165;
    margin-bottom: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    font-size: 12px;
}
